@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  
*{
    margin: 5px 25px;
    font-family: Fira Sans;
}
/* nav bar */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
.navbar button{
    color: #006A50;
    font-weight:600;
    width: 96px;
    height: 42px;
    border:solid 1px #006A50;
    border-radius: 10px;
    cursor: pointer;
}
.navbar button:hover{
    background-color: #006A50;
    color: #ffffff;
    border:solid 1px #ffffff;
}

/* banner */
.banner{
    padding: 40px 10px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.banner-left p{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 20px;
}
.banner-left h1{
    font-size: 56px;
    font-weight: bold;
}
.banner-left button{
    color: white;
    background-color: #006A50;
    width: 250px;
    height:46px ;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.banner-left button:hover{
    background-color: #ffffff;
    color: #006A50;
}

/* card */
.pillers{
    margin: 60px 0px;
}
.pillers-cards{
    display: flex;
    justify-content: space-around;
    gap: 20PX;
    
}
.pillers-card{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20PX 0PX;
    padding: 10px;
    
}
.pillers-card p{
    color: rgba(14, 14, 14, 0.7);
    padding-top: 5px;
}

/* vision of bd */
.card-desc{
    color: rgba(14, 14, 14, 0.7);
}
.vision-of-bd{
    margin: 60px 0px;
}
.vision-of-bd-desc{
color:rgba(14, 14, 14, 0.7);
margin-top: 20px;
}

.vision-cards{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    
}
.vision-card1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 20px 5px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 25px rgba(84, 144, 245, 0.2);
}
.vision-card1 h2{
    padding-top: 10px;
}
.vision-card1 p{
    padding-top: 10px;
    font-size: 13px;
}
.card1-but{
    background-color: #5490F5;
    width: 112px;
    height: 31px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.vision-card2{
    background-color: rgba(198, 228, 214, 1);
    padding: 20px 5px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 25px rgba(198, 228, 214, 1);
}
.vision-card2 h2{
    padding-top: 10px;
}
.vision-card2 p{
    padding-top: 10px;
    font-size: 13px;
}
.card2-but{
    background-color: #09A15C;
    width: 112px;
    height: 31px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.vision-card3{
    background-color: rgba(247, 235, 207, 1);
    padding: 20px 5px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 25px rgba(247, 235, 207, 1);
}
.vision-card3 h2{
    padding-top: 10px;
}
.vision-card3 p{
    padding-top: 10px;
    font-size: 13px;
}
.card3-but{
    background-color: #FFC239;
    width: 112px;
    height: 31px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.vision-of-bd button:hover{
    background-color: #ffffff;
    color: black;
}

/* quote */

.quote{
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 60px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    padding: 40px 20px;
    position: relative;
}

.quote-desc{
    font-size: 16px;
}
.quote::before {
    content: url(assets/quote-bg.png); 
    position: absolute; 
    top: 15px; 
    left: 45px; 
    width: 50px; 
    height: auto;
}
.name-tag
{
    padding-top: 20px;
    margin-left:0px ;
}
.tag{
    color: rgba(14, 14, 14, 0.6);
    padding-top: 5px;
}

/* your opinion */
.opinion{
    margin-top: 40px;
}
.opinion-head{
    font-size: 40px;
    margin: 0px;
}
.opinion-section {
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  max-width: 1350px;
  margin: 40px auto;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2); 
}


.opinion-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000; 
  margin-bottom: 20px;
}

.opinion-table {
  width: 96%;
  border-collapse: collapse;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  
  border-left: 2px;
}


.opinion-table thead {
  background-color: #d5efe5; 
}

.opinion-table th {
  padding: 15px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}


.opinion-table td {
  padding: 15px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
  border-right: 1px solid rgba(14, 14, 14, 0.1);
  border-left: 1px solid rgba(14, 14, 14, 0.1);

}

.opinion-select {
  width: 80%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#d5efe5 ;
  cursor: pointer;
}

/* recent news */

.recent-news{
    margin-top: 70px;
}

.recent-news-heading{
    margin-left: -25px;
    padding: 0px;
}
.recent-news-images {
    height: 306px;
    padding: 0px;
    border-radius: 24px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.recent-news-details {
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 30px 0px; 
    padding: 25px 0px;
    background-color: white;
}

.recent-news-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.date-time {
    display: flex;
    margin-left: 0px;
}

.date-time p {
    padding: 0px;
    color: rgba(14, 14, 14, 0.5);
}

.recent-news {
    padding: 0px;
}


.recent-news-heading p {
    color: rgba(14, 14, 14, 0.5);
}

.recent-news-info {
    text-align: justify;
}

.recent-news-info h3{
    font-weight:800;
}
.read-more-button button {
    width: 139px;
    height: 48px;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #006A50;
    margin: 25px 0px;
    transition: 0.3s ease;
    border: none;
}

.read-more-button button:hover {
    transition: 0.5s ease;
    background-color: whitesmoke;
    color: #006A50;
    cursor: pointer;
    border: none;
    border: 1px solid #006A50;
}

/* donation */

.donation-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.donation-details p {
    color: rgba(14, 14, 14, 0.5);
}

.donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amounts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.amounts-button {
    width: 240px;
    height: 128px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    transition: 0.3s ease;
    color: #006A50;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.amounts-button-1{
    width: 240px;
    height: 128px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    transition: 0.3s ease;
    color: black;
    background-color: #C6E4D6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.amounts-button:hover {
    transition: 0.5s ease;
    background-color: #C6E4D6;
    color: #333;
    border: 1px solid #C6E4D6;
    cursor: pointer;
}

.amounts-button-1:hover {
    transition: 0.5s ease;
    background-color: #C6E4D6;
    color: #333;
    border: 1px solid #C6E4D6;
    cursor: pointer;
}
.donate-button button {
    width: 139px;
    height: 48px;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #006A50;
    margin: 25px 0px;
    transition: 0.3s ease;
    border: none;
}

.donate-button button:hover {
    transition: 0.5s ease;
    background-color: whitesmoke;
    color: #006A50;
    cursor: pointer;
    border: none;
    border: 1px solid #006A50;
}

.amount-input #amount-input-field {
    width: 1024px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 8px;
}

/* newsletter */

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding: 25px 0px;
}

.newsletter-heading p {
    color: rgba(14, 14, 14, 0.5);
}

.newsletter-input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.newsletter-input .newsletter-input-field {
    width: 700px;
    height: 56px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: flex;
}

.newsletter-input-button {
    border: none;
    width: 150px;
    height: 59px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #006A50;
    margin: 25px 0px;
    transition: 0.3s ease;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    margin-left: -25px;
}

.newsletter-input-button:hover {
    transition: 0.5s ease;
    background-color: whitesmoke;
    color: #006A50;
    cursor: pointer;
    border: none;
    border: 1px solid #006A50;
    cursor: pointer;
}

.newsletter-input input::placeholder{
    padding-left: 40px;
    color: rgba(14, 14, 14, 0.3);
}
/* footer */
footer{
    margin: 0;
    padding: 0;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 107%;
    margin-left: -49px;
    margin-bottom: -60px;
}
.footer h1{
    padding: 20px 0px;
}


hr{
    opacity: 10%;
    width: 58%; 
    border: 1px solid black;
}
